
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




*{
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    background-color: lightblue;
}


.title h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

.table_number{
    text-align: center;
}

.table_number #tableNum{
    padding: 12px 13px;
    font-size: 15px;
    width: 30rem;
    color: black;
    font-weight: 600;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border: none;
    margin-bottom: 40px;
}

.table_number button{
    padding: 12px 13px;
    font-size: 15px;
    width: 8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    background-color: #31A831;
    border: none;
    cursor: pointer;
    color: white;
}


.menu{
   
    height: 550px;
    margin-top: 20px;
    background-color: white;
    width: 400px;
    display: flex;
    text-align: right;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu h2{
    background-color: white;
    margin-left: 10px;
    font-size: 30px;
    
}

.checkout button{
    border: none;
    padding: 20px 70px;
    font-size: 20px;
    background-color: #31A831;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.checkout #cancel{
    border: none;
    padding: 20px 70px;
    font-size: 20px;
    background-color: red;
    font-size: 15px;
    color: white;
}

.table{
    background-color: white;
    margin-top:6rem;
    position: relative;
    right: 135px;
    font-size: 20px;
}

#num{
    background-color: white;
    margin-top: 6rem;
    font-size: 20px;
    position: relative;
    right: 100px;
}
