
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    background-color: lightblue;
}


.title h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}

.table_number{
    text-align: center;
}

.table_number #tableNum{
    padding: 12px 13px;
    font-size: 15px;
    width: 30rem;
    color: black;
    font-weight: 600;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border: none;
    
}

.table_number button{
    padding: 12px 13px;
    font-size: 15px;
    width: 8rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    background-color: #31A831;
    border: none;
    cursor: pointer;
    color: white;
}


#error{
    color: red;
}

.log-out{
   
    height: 900px;
    margin-top: 10px;
    background-color: white;
    width: 400px;
    display: flex;
    text-align: right;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    bottom: 800px;
    left: 900px;
}

.log-out h2{
    background-color: white;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    
}

.checkout button{
    border: none;
    padding: 20px 70px;
    font-size: 20px;
    background-color: #31A831;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    left: 900px;/* ------------------------------ left: 900px; ------------------------------ */
    bottom: 800px;
}

.checkout #cancel{
    border: none;
    padding: 20px 70px;
    font-size: 20px;
    background-color: red;
    font-size: 15px;
    color: white;
}

.table{
    background-color: white;
    margin-top:6rem;
    position: relative;
    right: 135px;
    font-size: 20px;
}

#num{
    background-color: white;
    margin-top: 6rem;
    font-size: 20px;
    position: relative;
    right: 100px;
}


.food{
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    left: 2rem;
    top: 7rem;
    border-radius: 20px;
}

.dish{
    position: relative;
    top: 150px;
    background-color: white;
    right: 265px;
}

.order{
    background-color: white;
}

.food {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    background-color: white;
    
  }

.food button{
    background-color: #31A831;
    padding: 9px 11px;
    border: none;
    margin-bottom: 10px;
    color: white;
    justify-content: end;
}

.amount{
    position: relative;
    top: 100px;
    background-color: white;
    right: 150px;
    font-size: 18px;
}


.price{
        position: relative;
        top: 100px;
        background-color: white;
        right: 50px;
        font-size: 18px;
}


.food2{
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    left: 27rem;
    bottom: 185px;
    border-radius: 20px;
}


.food2 button{
    background-color: #31A831;
    padding: 9px 11px;
    border: none;
    margin-bottom: 10px;
    color: white;
    justify-content: end;
}


.total{
    background-color: white;
    position: absolute;
    top: 48rem;
    right: 20rem;
    font-size: 20px;
}


#totalPrice{
    background-color: white;
    position: absolute;
    top: 47rem;
    right: 10rem;
    font-size: 30px;
}

.RM{
    position: absolute;
    top: 785px;
    background-color: white;
    right: 15rem;
    font-size: 25px;
}




.food3{
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    left: 2rem;
    bottom: 50px;
    border-radius: 20px;
}


.food3 button{
    background-color: #31A831;
    padding: 9px 11px;
    border: none;
    margin-bottom: 10px;
    color: white;
    justify-content: end;
}













